.bsa {
  font-family: sans-serif;
  margin: 15px; }
  .bsa .bsa-flex {
    display: flex; }
  .bsa .bsa-h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px; }
  .bsa .bsa-green {
    color: #00a566; }
  .bsa .bsa-ul {
    list-style-type: none; }
  .bsa .bsa-ul-no-padding {
    padding-left: 0; }
  .bsa .bsa-amiibo-wrapper {
    border: 1px solid #1e824c;
    border-radius: 10px;
    padding: 10px; }
  .bsa .bsa-bold {
    font-weight: 600; }
  .bsa .bsa-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; }
